# Resend API Configuration
RESEND_API_KEY=re_YourCopiedAPIKeyHere
RESEND_WEBHOOK_SIGNING_SECRET=whsec_189Ir6YkhPI0yhxFZeu34jzjyaalmgVr
RESEND_AUDIENCE_ID=d03314db-4ca5-479f-ad8e-8eacfa8a86dc

# Email Configuration
FROM_EMAIL=oliver@underlandex.com
WEBSITE_EMAIL=website@underlandex.com
SUBSCRIBERS_EMAIL=subscribers@underlandex.com

# Slack Configuration
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXX