---
import Layout from '~/layouts/PageLayout.astro';
import Image from '~/components/common/Image.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Natural Resource Repository',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get Started for Free',
        href: 'https://coresync.dev',
        target: '_blank',
        icon: 'tabler:external-link',
      },
      { text: 'Learn More', href: '#features' },
    ]}
    image={{ src: '~/assets/images/rendered_geo_model.avif', alt: 'CoreSync Hero Image' }}
  >
    <Fragment slot="title">
      <div class="flex flex-col items-center mb-4 group">
        <a href="https://coresync.dev" target="_blank" rel="noopener">
          <Image 
            id="coresync-logo"
            src="~/assets/images/coresync-circlev1-transparent.svg" 
            alt="CoreSync Logo" 
            class="w-48 h-48 mb-4 cursor-pointer" 
            width={192}
            height={192}
          />
        </a>

        <script>
          // Get the logo element
          const logo = document.getElementById('coresync-logo');
          
          // Add the animation class when mouse enters
          logo.addEventListener('mouseenter', () => {
            logo.classList.add('animate-spin-slow');
          });
          
          // Remove the animation class when mouse leaves
          logo.addEventListener('mouseleave', () => {
            // We don't remove the class immediately to let the animation finish
            // Instead, we listen for the end of the current animation cycle
            logo.addEventListener('animationiteration', () => {
              logo.classList.remove('animate-spin-slow');
            }, {once: true});
          });
        </script>
        <span class="text-lichen-gray dark:text-lichen-gray highlight font-quantify tracking-wide" style="font-size: 8rem;">CoreSync</span>
      </div>
    </Fragment>

    <Fragment slot="subtitle">
      Connecting stakeholders with real-time project performance.
    </Fragment>
    
    <Fragment slot="content">
      <div class="mt-8">
        <Image
          src="~/assets/images/rendered_geo_model_crop.avif"
          alt="Interactive Resource Model"
          class="mx-auto rounded-md"
          width={800}
          height={450}
        />
      </div>
    </Fragment>
  </Hero>


  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Resource Intelligence Platform"
    title="Collaborate in 3D, Not in Screenshots"
    subtitle="Securely and quickly share resource models with stakeholders – no expensive software required"
    items={[
      {
        title: 'Democratise Insights',
        description:
          'Empower everyone within and outside your organization to discover insights from your data using 3D visuals.',
        icon: 'tabler:users',
      },
      {
        title: 'Drive Down Costs',
        description:
          'Gain efficiency and simplify complexity by unifying your approach to data sharing.',
        icon: 'tabler:chart-line',
      },
      {
        title: 'Instant Sharing',
        description:
          'Share your 3D models instantly with a simple URL. No software downloads or installations required.',
        icon: 'tabler:share',
      },
      {
        title: 'Broad Compatibility',
        description:
          'Compatible with data exported from industry-leading software, including Seequent Leapfrog Geo, Deswik, Micromine, Datamine, Dassault Systèmes 3DEXPERIENCE, and Mira Geoscience.',
        icon: 'tabler:transfer-in',
      },
    ]}
  />


  <!-- Steps Widget ****************** -->

  <Steps
    title="CoreSync Your Model in Three Simple Steps"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Upload & Preview</span>',
        description:
          "Upload your OMF file, fill in your project name, and instantly preview your 3D model in the browser.",
        icon: 'tabler:upload',
      },
      {
        title: 'Step 2: <span class="font-medium">Verify Ownership</span>',
        description:
          "Create a free account to verify your ownership of the model and control access.",
        icon: 'tabler:user-check',
      },
      {
        title: 'Step 3: <span class="font-medium">Share & Collaborate</span>',
        description:
          "Share your interactive 3D model with a unique URL. Collaborate effortlessly with stakeholders, anywhere in the world.",
        icon: 'tabler:world-share',
      },
      {
        title: 'Done!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/model-demo-square.avif',
      alt: 'CoreSync Steps',
    }}
  />


  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Learn more about CoreSync and how it can transform your resource project communication."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'How do I share my model?',
        description:
          "After your model is processed, you'll receive a unique URL that you can share with anyone (sharing is disabled on the Free tier). They can view the model in their web browser without needing a CoreSync account.",
      },
      {
        title: 'What if I need to collaborate with my team?',
        description:
          'The Team and Enterprise plans offer collaboration features, allowing multiple users to access and work on the same projects.',
      },
      {
        title: 'How long does it take to process a model?',
        description:
          'Most models are processed within a couple of hours. However, processing time may vary up to 24 hours depending on the size and complexity of the dataset, as well as current platform demand. We are continuously optimising our infrastructure to ensure the fastest possible turnaround.',
      },
      {
        title: 'How secure is my data?',
        description:
          'CoreSync prioritises data security. We use industry-standard encryption to protect your data both in transit (while being uploaded/downloaded) and at rest (while stored on our servers). Access to your projects is controlled through role-based access control (RBAC), ensuring only authorised users can view or modify your data. We utilise secure Digital Ocean infrastructure for data storage and processing.',
      },
      {
        title: 'What kinds of data can I visualise within my OMF file?',
        description:
          'CoreSync supports a wide range of geoscience data types commonly stored in OMF files. The power of OMF lies in its capacity to handle various types of geological data—from point, curve, and surface data to drillholes, geophysical data, and 3D models. We are continually expanding our support for additional data types.',
      },
      {
        title: 'Are there plans to support other file formats besides OMF?',
        description:
          'Yes, support for additional file formats is under active development. We plan to add support for VTK, GEOH5, GOCAD, CSV, and OBJ formats in Q2, 2025.',
      },
    ]}
  />


  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get Started for Free!',
        href: 'https://coresync.dev',
        target: '_blank',
        icon: 'tabler:external-link',
      },
    ]}
  >
    <Fragment slot="title">
      Ready to share your resource model?
    </Fragment>

  </CallToAction>
</Layout>