---
import Layout from '~/layouts/PageLayout.astro';
import Prices from '~/components/widgets/Pricing.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Steps from '~/components/widgets/Steps.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Pricing',
};
---

<Layout metadata={metadata}>
  <Prices
    title="underland.cloud Plans"
    subtitle="Flexible plans for 3D mining data web visualisation."
    hasMonthlyYearlyToggle={true}
    prices={[
      {
        title: 'Casual',
        price: 'Free',
        period: 'Limited but useable',
        items: [
          { description: 'Up to 50 MB file sizes' },
          { description: '500 MB file storage limit' },
          { description: 'On-demand server (slower loading)' },
          { description: 'Shareable project URL (30 minute expiry)' },
          { description: 'Server-side GPU rendering', icon: 'tabler:x' },
        ],
        callToAction: {
          text: 'Start now',
          href: 'https://www.app.underland.cloud',
        },
      },
      {
        title: 'Premium',
        price: 100,
        period: 'USD/user/month',
        billingPeriod: 'monthly',
        items: [
          { description: 'Up to 500 MB file sizes' },
          { description: '5 GB file storage limit' },
          { description: 'Always-on dedicated server (fast loading)' },
          { description: 'Shareable project URL (no expiry)' },
          { description: 'Server-side GPU rendering', icon: 'tabler:x' },
        ],
        callToAction: {
          text: 'Start now',
          href: 'https://www.app.underland.cloud'
        },
        hasRibbon: false,
        ribbonTitle: 'Best Value',
      },
      {
        title: 'Professional',
        price: 1000,
        period: 'USD/user/year',
        billingPeriod: 'annual',
        items: [
          { description: 'Up to 500 MB file sizes' },
          { description: '5 GB file storage limit' },
          { description: 'Always-on dedicated server (fast loading)' },
          { description: 'Shareable project URL (no expiry)' },
          { description: 'Server-side GPU rendering', icon: 'tabler:x' },
        ],
        callToAction: {
          text: 'Start now',
          href: 'https://www.app.underland.cloud'
        },
        hasRibbon: false,
        ribbonTitle: 'Best Value',
      },
      {
        title: 'Enterprise',
        price: 'Custom',
        period: 'Contact for pricing',
        items: [
          { description: 'Up to 10 TB file size limit' },
          { description: 'Unlimited storage per user' },
          { description: 'Always-on dedicated server (fast loading)' },
          { description: 'Shareable project URL (no expiry)' },
          { description: 'Server-side GPU rendering' },
          { description: 'API-access' },
          { description: 'Self-hosted data option' },
          { description: 'Whitelabel option' },
          { description: 'Custom onboarding' },
          { description: 'Textured underground layers' },
        ],
        callToAction: {
          target: '_blank',
          text: 'Contact Us',
          href: '/contact',
        },
      },
    ]}
  />

  <Steps
    title="Start now with underland.cloud in Minutes"
    tagline="Simple Onboarding Process"
    classes={{ container: 'max-w-3xl mx-auto' }}
    items={[
      {
        title: 'Select your plan',
        icon: 'tabler:number-1',
      },
      {
        title: 'Create your account',
        icon: 'tabler:number-2',
      },
      {
        title: 'Upload your OMF file',
        icon: 'tabler:number-3',
      },
      {
        title: 'Preview your 3D model',
        icon: 'tabler:number-4',
      },
      {
        title: 'Share',
        icon: 'tabler:number-5',
      },
    ]}
    image={{
      src: '~/assets/images/model-demo-square.avif',
      alt: 'underland.cloud 3D Model Preview',
    }}
  />

  <FAQs
    title="underland.cloud Pricing FAQs"
    subtitle="Find answers to common questions about our pricing plans and features"
    columns={1}
    items={[
      {
        title: 'Is there a free trial?',
        description:
          'We offer a Free plan that allows you to experience underland.cloud functionality before committing to a paid plan.',
      },
      {
        title: 'How does the Enterprise plan pricing work?',
        description:
          'Enterprise pricing is tailored to your organization\'s specific needs, based on factors like storage, number of users, and required features. Please <a href="/contact" class="text-primary hover:underline">contact</a> our team for a custom quote.',
      },
      {
        title: 'Are there any discounts for academic or non-profit organizations?',
        description:
          'Yes, we offer special pricing for educational institutions, research organizations, and non-profits. Please <a href="/contact" class="text-primary hover:underline">contact</a> our team with details about your organization to discuss eligible discounts.',
      },
      {
        title: 'Do you offer any volume discounts?',
        description:
          'Yes, organizations that need licenses for multiple users may qualify for volume discounts. These are evaluated on a case-by-case basis. <a href="/contact" class="text-primary hover:underline">Contact</a> our team to discuss your specific requirements.',
      },
      {
        title: 'Can I upgrade or downgrade my plan?',
        description:
          'Yes, you can upgrade or downgrade your plan at any time to better suit your needs. Changes take effect at the start of your next billing cycle.',
      },
    ]}
  />

  <CallToAction
    title="Ready to share your resource models?"
    actions={[
      {
        variant: 'primary',
        text: 'Upload to underland.cloud',
        href: 'https://www.app.underland.cloud',
        icon: 'tabler:upload',
      },
    ]}
  />
</Layout>