---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Prices from '~/components/widgets/Pricing.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Steps from '~/components/widgets/Steps.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Pricing',
};
---

<Layout metadata={metadata}>
  <Prices
    title="CoreSync Plans"
    subtitle="Flexible plans for resource visualization, from individual users to enterprise teams"
    hasMonthlyYearlyToggle={true}
    prices={[
      {
        title: 'Free (Viewer)',
        price: 'Free',
        period: '',
        items: [
          { description: 'View shared models, even after the uploader\'s subscription changes' },
          { description: 'Interactive 3D model viewing and exploration' },
          { description: 'No account required to view shared models' },
        ],
        callToAction: {
          target: '_blank',
          text: 'Explore Now',
          href: 'https://coresync.dev/', // Or remove the href
        },
      },
      {
        title: 'Professional',
        price: 99,
        period: 'per month',
        billingPeriod: 'monthly',
        items: [
          { description: 'Unlimited uploads' },
          { description: 'Unlimited viewers' },
          { description: 'Up to 1 GB of rendered data¹' },
          { description: 'Shareable URL for clients/stakeholders' },
          { description: 'Advanced model controls' },
          { description: 'Email support' },
          { description: 'Cancel anytime' },
        ],
        callToAction: {
          target: '_blank',
          text: 'Start now',
          href: '#', // Update to signup flow
        },
        hasRibbon: true,
        ribbonTitle: 'Best Value',
      },
      {
        title: 'Professional',
        price: 990,
        period: 'per year',
        billingPeriod: 'annual',
        items: [
          { description: 'Unlimited uploads' },
          { description: 'Unlimited viewers' },
          { description: 'Up to 1 GB of rendered data¹' },
          { description: 'Shareable URL for clients/stakeholders' },
          { description: 'Advanced model controls' },
          { description: 'Email support' },
          { description: 'Annual contract' },
        ],
        callToAction: {
          target: '_blank',
          text: 'Start now',
          href: '#', // Update to signup flow
        },
        hasRibbon: true,
        ribbonTitle: 'Best Value',
      },
      {
        title: 'Team',
        price: 499,
        period: 'per month',
        billingPeriod: 'monthly',
        items: [
          { description: 'Unlimited uploads' },
          { description: 'Unlimited viewers' },
          { description: 'Up to 5 GB of rendered data¹' },
          { description: 'Up to 10 team members' },
          { description: 'Management dashboard' },
          { description: 'Priority email & chat support' },
          { description: 'Cancel anytime' },
        ],
        callToAction: {
          target: '_blank',
          text: 'Start now',
          href: '#', // Update to signup flow
        },
      },
      {
        title: 'Team',
        price: 4990,
        period: 'per year',
        billingPeriod: 'annual',
        items: [
          { description: 'Unlimited uploads' },
          { description: 'Unlimited viewers' },
          { description: 'Up to 5 GB of rendered data¹' },
          { description: 'Up to 10 team members' },
          { description: 'Management dashboard' },
          { description: 'Priority email & chat support'},
          { description: 'Annual contract' },
        ],
        callToAction: {
          target: '_blank',
          text: 'Start now',
          href: '#', // Update to signup flow
        },
      },
      {
        title: 'Enterprise',
        price: 'Custom',
        period: 'Contact for pricing',
        items: [
          { description: 'Unlimited uploads' },
          { description: 'Unlimited viewers, and team members' },
          { description: 'Customizable storage' },
          { description: 'Single sign-on (SSO)' },
          { description: 'Basic Usage Analytics' },
          { description: 'Custom branding options' },
          { description: 'Dedicated account manager' },
          { description: '24/7 priority support' },
          { description: 'Service Level Agreement (SLA)' },
          { description: 'Custom onboarding and training' },
        ],
        callToAction: {
          target: '_blank',
          text: 'Contact sales',
          href: '/contact', // Update to contact sales page
        },
      },
    ]}
  />

  <div class="py-8 px-4 sm:px-6 mx-auto max-w-4xl text-center">
    <div class="bg-white dark:bg-slate-900 p-6 rounded-md shadow-md">
      <h3 class="text-xl font-bold mb-2">High-Capacity Add-On</h3>
      <p class="mb-2">¹ Increase your project's upload limit for $99/month per extra GB. Available on all paid plans</p>
    </div>
  </div>


  <!-- Steps Widget ****************** -->

  <Steps
    title="Start now with CoreSync in Minutes"
    tagline="Simple Onboarding Process"
    isReversed={true}
    classes={{ container: 'max-w-3xl mx-auto' }}
    items={[
      {
        title: 'Select your plan',
        icon: 'tabler:number-1',
      },
      {
        title: 'Create your account',
        icon: 'tabler:number-2',
      },
      {
        title: 'Upload your OMF file',
        icon: 'tabler:number-3',
      },
      {
        title: 'Preview your 3D model',
        icon: 'tabler:number-4',
      },
      {
        title: 'Share',
        icon: 'tabler:number-5',
      },
    ]}
    image={{
      src: '~/assets/images/model-demo-square.avif',
      alt: 'CoreSync 3D Model Preview',
    }}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="CoreSync Pricing FAQs"
    subtitle="Find answers to common questions about our pricing plans and features."
    columns={1}
    items={[
      {
        title: 'Is there a free trial?',
        description:
          'We offer a Free plan that allows you to upload a single model for personal use. This lets you experience CoreSync functionality before committing to a paid plan.',
      },
      {
        title: 'What is the High-Capacity Add-On?',
        description:
          'The High-Capacity Add-On increases your project\'s upload limit beyond 1 GB for $99/month per extra GB. It\'s ideal for users with very large or detailed models. This add-on is available at checkout when you upload a model larger than 1 GB. For example, a 2 GB project requires one add-on (1 GB over the limit), costing an extra $99/month.',
      },
      {
        title: 'How does the Enterprise plan pricing work?',
        description:
          'Enterprise pricing is based on the number of users and projects you need. The starting rate is $79/user/month plus $149/project/month with annual billing. For custom quotes tailored to your organization\'s specific needs, please contact our sales team.',
      },
      {
        title: 'Are there any discounts for academic or non-profit organizations?',
        description:
          'Yes, we offer special pricing for educational institutions, research organizations, and non-profits. Please contact our sales team with details about your organization to discuss eligible discounts.',
      },
      {
        title: 'Do you offer any volume discounts?',
        description:
          'Yes, organizations that need licenses for multiple users or projects may qualify for volume discounts. These are evaluated on a case-by-case basis. Contact our sales team to discuss your specific requirements.',
      },
      {
        title: 'Can I upgrade or downgrade my plan?',
        description:
          'Yes, you can upgrade or downgrade your plan at any time to better suit your needs. Changes take effect at the start of your next billing cycle.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Ready to share your resource models?"
    actions={[
      {
        variant: 'primary',
        text: 'Upload to CoreSync',
        href: 'https://coresync.dev',
        target: '_blank',
        icon: 'tabler:external-link',
      },
    ]}
  />
</Layout>
